@media screen and (min-width:1024px) {
  .background {
    background-color:white;
}
}

@media screen and (max-width:1024px) {
  .background {
    background-color:white;
}
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
  text-decoration-color: #FF7926;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-decoration-color: #FF7926;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1 1fr);
  grid-template-rows: repeat(1 1fr);
  grid-column-gap: 1200px;
  grid-row-gap: 30px;
  /* grid-template-areas: 
  "caja1 caja2"
  "caja3 caja4"; */
  background-color: #ffffff;
}

.grid-item {
  /*background-color: #ccc;*/
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-variant-caps: all-small-caps;
  font-weight: bolder;
  text-align: center;
}

#decoration {
  display:flex;
  align-items:center;
}

.caja1{
  background-color: black;
  /* display:flex;
  align-items:stretch;
  grid-area: 1 / 1 / 2 / 2; */
  grid-area: caja1;
};
}

.caja2 {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-color: white;
  /* border-radius: 5px;
  grid-area: 1 / 2 / 2 / 3; */
  grid-area: caja2;
}

.caja3{
  background-color: black;
  display:flex;
  /* align-items:stretch;
  grid-area: 2 / 2 / 3 / 3; */
  grid-area: caja3;
}

.caja4 {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-color: white;
  /* border-radius: 5px;
  grid-area: 2 / 1 / 3 / 2; */
  grid-area: caja4;
}

.interno-caja{
  display:flex;
  align-items:stretch;
}