/* diseño para tablets y laptops */
@media screen and (min-width:960px) {
  .grid-container {
    width: 80%;
    max-width: 960px;
}
}

/* diseño para tdesktop*/
@media screen and (min-width:1200px) {
  .grid-container {
    width: 90%;
    max-width: 1200px;
}
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
  text-decoration-color: #ffffff;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-decoration-color: #FF7926;
}

.menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  height: 60px;
  line-height: 55px;
  gap:40px;
  display:flex;
  justify-content: center;
  background-color:#FD7FCC;
}

.menu-footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  height: 60px;
  line-height: 55px;
  gap:40px;
  display:flex;
  justify-content: center;
  background-color:aqua;
}


.grid-blog {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  column-gap: 10px;
  padding: 20px 0px 20px 0px;
  background-color: #ffffff;
  justify-items:center;
  align-items: stretch;
}

.grid-item {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

#decoration {
  display:flex;
  align-items:center;
}

.blog1{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  display:grid;
  justify-items: center;
  border-radius: 5px;
  grid-column: 1;
}

.blog2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  display:grid;
  justify-items: center;
  border-radius: 5px;
  grid-column: 2;
}

.blog3{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  display:grid;
  justify-items:center;
  border-radius: 5px;
  grid-column: 3;
}