
/* diseño para tablets y laptops */
@media screen and (min-width:960px) {
  .grid-servicios {
    width: 80%;
    max-width: 960px;
}
}

/* diseño para tdesktop*/
@media screen and (min-width:1200px) {
  .grid-servicios {
    width: 90%;
    max-width: 1920px;
}
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
  text-decoration-color: #ffffff;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  text-decoration-color: #FF7926;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    height: 60px;
    line-height: 55px;
    gap:40px;
    display:flex;
    justify-content: center;
    background-color:#FD7FCC;
}

.menu-footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  height: 60px;
  line-height: 55px;
  gap:40px;
  display:flex;
  justify-content: center;
  background-color:aqua;
}

.grid-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  background-color: #ffffff;
  justify-items: normal;
  align-items: stretch;
}

.grid-item {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bolder;
  text-align: center;
}

#decoration {
  display:flex;
  align-items:center;
}

.caja-cabecera{
  background-color: black;
  display:inline;
  align-items:center;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 4;
}

.caja1{
  background-color:aqua;
  display:inline;
  align-items:center;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.caja2 {
  background-color: white;
  display:inline;
  align-items:center;
  border-radius: 5px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.caja3{
  background-color:#FF7926;
  display:inline;
  align-items:center;
  border-radius: 5px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.caja4{
  background-color:white;
  display:inline;
  align-items:center;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.caja5 {
  background-color:#FD7FCC; 
  border-radius: 5px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.caja6{
  background-color:#aaaa00;
  display:inline;
  align-items:center;
  border-radius: 5px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.interno-caja{
  display:flex;
  align-items:stretch;
  font-family: 'Montserrat', serif;
  font-size: 18px;
}